body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
light purple: #fcf6ff
medium purple: #ded2E4
border gray: #808080
drop shadow gray: #575757
main green: #34af72
text brown: #241600
*/

.app {
  background-color: #ded2E4;
  height: 100vh;
  color: #241600
}

.header {
  padding: 10px;
  height: 50px;
  display: flex;
  box-shadow: 0 0 8px #575757;
  background-color: #fcf6ff;
  margin-bottom: 10px;
}

.header>.title {
  vertical-align: middle;
  font-size: 1.5rem;
  margin-top: auto;
  margin-left: -5px;
}

.wordDefinition {
  text-align: center;
  font-style: italic;
  margin: auto;
  font-size: 1.8rem;
}

.answer {
  border: 1px solid #808080;
  border-radius: 3px;
  font-size: 2.2rem;
  padding: 10px 15px 10px;
  width: 300px;
  background-color: #fcf6ff;
  box-shadow: inset 0 0 3px #575757;
}

.answer:focus {
  border: 1px solid #808080;
  outline-color: #34af72;
}

.answerContainer {
  text-align: center;
  padding: 15px;
}

.wordContainer {
  height: 70vh;
  border: 1px solid 808080;
  border-radius: 3px;
  margin: 20px;
  background-color: #fcf6ff;
  overflow: hidden;
  box-shadow: inset 0 0 3px #575757;
}

.word {
  animation: Fall 5s linear infinite;
  font-size: 2rem;
  position: relative;
  opacity: 100;
}

.word.found {
  color: #34af72;
  font-size: 2.5rem;
  font-weight: 600;
}

@keyframes Fall {
  from {
    transform: translateY(-25vh);
  }

  to {
    transform: translateY(70vh);
  }
}